{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
    {% set prof_list = ['инженер', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог',
                        'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения',
                        'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    {% if l == "ol" %}
        <ol>
            {% for prof in prof_list %}
            <li>{{ prof }}</li>
            {% endfor %}
        </ol>
    {% elif l == "ul" %}
        <ul>
            {% for prof in prof_list %}
            <li>{{ prof }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> В адресной строке могут быть только "ul" или "ol".
        </div>
    {% endif %}
{% endblock %}